<html>
    <head>
        <title>Ola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Djgango Girls Blog</a></h1>
        </div>

        <div>
            <p>published=14.06.2014, 12:14</p>
            <h2><a href="">My First Post</a></h2>
            <p>AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        </div>

        <div>
            <p>published=14.06.2014, 12:14</p>
            <h2><a href="">My Second Post</a></h2>
            <p>BBBBBBBBBBBBBBBBBBBBBBBBBBB</p>
        </div>
    </body>
</html>
